:root {
    --main-radius: 5px;
    --main-padding: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
    grid-template-areas:
        "nav nav nav nav"
        "sidebar main main main"
        "sidebar content1 content2 content3"
        "sidebar footer footer footer";
    grid-gap: 0.3rem;
    text-transform: uppercase;
    font-size: 1.1em;
    color: rgb(149, 212, 199);
    text-align: center;
}

nav {
    background-color: #ab66da;
    grid-area: nav;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
}

main {
    background-color: #622180;
    grid-area: main;
    border-radius: var(--main-radius);
    padding: var(--main-padding);

}

#sidebar {
    background-color: #8005c7;
    grid-area: sidebar;
    border-radius: var(--main-radius);
    padding: var(--main-padding);

}

#content1 {
    background-color: #ae5cd4;
    grid-area: content1;
    border-radius: var(--main-radius);
    padding: var(--main-padding);

}

#content2 {
    background-color: #ae5cd4;
    grid-area: content2;
    border-radius: var(--main-radius);
    padding: var(--main-padding);

}

#content3 {
    background-color: #ae5cd4;
    grid-area: content3;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
}

footer {
    background-color: #6d1874;
    grid-area: footer;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
}

@media only screen and (max-width:720px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas:
            "nav"
            "sidebar"
            "main"
            "content1"
            "content2"
            "content3"
            "footer";
    }
}